{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-146281994-1');
    </script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{% static 'images/fvicon.png'%}">

    <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.css" />

    <!-- Custom styles for this template -->
    <link href="{% static 'css/carousel.css' %}" rel="stylesheet">

    <style>
    .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
      width: -webkit-fill-available;
    }
    .bootstrap-select > .dropdown-toggle.bs-placeholder, .bootstrap-select > .dropdown-toggle.bs-placeholder:hover, .bootstrap-select > .dropdown-toggle.bs-placeholder:focus, .bootstrap-select > .dropdown-toggle.bs-placeholder:active {
      color: #999;
      height: 50px;
    }
    </style>

    <style>
    .open>.dropdown-menu {
      z-index: 100000;
    }

    </style>

<title>MYOMIR.DB</title>
  </head>
  <body style="padding-top: 0;font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;">
    <div class=container-fluid style='background-image:url({% static "images/Picture1.png" %});
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;'>

      <div class="row" >
        <div class="col-3" >
        </div>
        <div class="col-6" >
          <img src="{% static 'images/Picture2.png' %}" style="width: 100%;">
            <p align=center style="color:black;font-size: 33px;font-weight: 600;">A Database of miRNAs during Muscular Atrophy</p>
        </div>
  <div class="col-1">
  </div>
  <div class="col-2">
    <div class="row">
      <div class="col-6" style="padding: 0;padding-top: 8%;">
        <img src="{% static 'images/Picture3.png' %}" style="width: 100%;">
      </div>
      <div class="col-6" style="padding: 0;padding-top: 14%;">
        <p style="margin-bottom: 0;color: black;font-size: 12px;font-weight: 700;text-transform: uppercase;">Defence Institute of Physiology and Allied Sciences,</p>
        <p style="margin-bottom: 0;color: black;font-size: 12px;font-weight: 700;text-transform: uppercase;">DRDO</p>
      </div>
    </div>
  </div>
      </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#fee7ed !important;">
      <!-- <a class="navbar-brand" href="#">Navbar</a> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav" style="margin-left: 30%;">
          <a style="font-size: 22px;font-weight: 500;" class="nav-item nav-link" href="{% url 'index'%}">Home <span class="sr-only">(current)</span></a>
          <a style="font-size: 22px;font-weight: 500;" class="nav-item nav-link" href="{% url 'query'%}">Browse</a>
          <a  style="font-size: 22px;font-weight: 500;"class="nav-item nav-link active" href="{% url 'search'%}">Search</a>
          <a  style="font-size: 22px;font-weight: 500;"class="nav-item nav-link" href="{% url 'tutorial'%}">Tutorial</a>
          <a  style="font-size: 22px;font-weight: 500;"class="nav-item nav-link" href="{% url 'stats'%}">Statistics</a>
          <a style="font-size: 22px;font-weight: 500;" class="nav-item nav-link" href="{% url 'contact'%}">Contact</a>
        </div>
      </div>
    </nav>
    <div class="container" style="padding-left: 7%;margin-top:2%">
      <form method="post" action="{% url 'resultge' %}">{% csrf_token %}
        <div class="form-row">
          <div class="col-8">
            <select class="selectpicker" name="gene" data-live-search="true" multiple>
              {% for obj in name %}
              <option data-tokens="{{obj}}">{{obj}}</option>
              {% endfor %}

            </select>
          </div>
          <div class="col-4">
            <button class="btn btn-primary btn-lg btn-block"  type="submit" >Search</button>
          </div>
        </div>
      </form>
</div>

<div class="container-fluid" style="position:fixed;bottom:0px;background-image:url('{% static "images/Picture6.png"%}');height:35px">
  <p style="text-align: center;">Created and maintained by DIPAS, DRDO</p>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
    <script>window.jQuery || document.write('<script src="{% static 'js/jquery-slim.min.js' %}"><\/script>')</script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <!-- <script src="{% static 'js/bootstrap.min.js' %}"></script> -->
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="{% static 'js/holder.min.js' %}"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

  </body>
</html>
